@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
}

.body::-webkit-scrollbar {
  display: none;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "EB Garamond", serif;
  background: #f4fffd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

i {
  padding: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

.nav-container::-webkit-scrollbar {
  display: none;
}

.nav-container {
  background: #f4fffd;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav-container a {
  color: #3F4045;
  background: #f4fffd;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 5em 8em 0em 8em;
}
header .logo {
  color: #3F4045;
  background: #f4fffd;
  font-weight: bold;
  font-size: 28px;
}
header ul {
  display: flex;
}
header ul a {
  display: block;
  padding: 0 1em;
}

.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.container section {
  height: 100vh;
  display: flex;
  flex-basis: 100%;
  scroll-snap-align: start;
}
.container section:nth-of-type(1) {
  font-family: "Roboto", sans-serif;
  color: #3F4045;
  background: #f4fffd;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100vh;
  padding: 5em 0em 0em 15em;
}
.container section:nth-of-type(2) {
  font-family: "Roboto", sans-serif;
  color: #3F4045;
  background: #f4fffd;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 5em 0em 0em 15em;
}
.container section:nth-of-type(3) {
  font-family: "Roboto", sans-serif;
  color: #3F4045;
  background: #f4fffd;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 5em 0em 0em 15em;
}
.container section:nth-of-type(4) {
  font-family: "Roboto", sans-serif;
  color: #3F4045;
  background: #f4fffd;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding: 5em 0em 0em 15em;
}

h1 {
  font-size: 80px;
  font-family: "Roboto", sans-serif;
  padding: 0 0 0 0;
}

h2 {
  font-size: 24px;
  font-family: "EB Garamond", serif;
  padding: 0 0 0 0;
}

h3 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  padding: 0 0 0 300px;
  transform: rotate(-90deg);
}

h4 {
  font-size: 38px;
  font-family: "Roboto", sans-serif;
  padding: 0 0 0 0;
}

stripes {
  background-image: linear-gradient(45deg, #f4fffd 36.36%, #aadcec 36.36%, #aadcec 50%, #f4fffd 50%, #f4fffd 86.36%, #aadcec 86.36%, #aadcec 100%);
  background-size: 15.56px 15.56px;
  padding: 50px 600px 50px 0px;
  font-size: 80px;
  font-family: "Roboto", sans-serif;
}

stripes2 {
  background-image: linear-gradient(45deg, #f4fffd 36.36%, #aadcec 36.36%, #aadcec 50%, #f4fffd 50%, #f4fffd 86.36%, #aadcec 86.36%, #aadcec 100%);
  background-size: 15.56px 15.56px;
  padding: 30px 150px 30px 30px;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=main.css.map */