:root {
    --main-background-color: #fbfbfb;
    --main-text-color: #121619;
    --main-text-color-2: #2e2e2e;
    --light-gray: #f1f1f1;
    --blue-color: #1b8af7;
    --white-color: #fafbfc;
    --gray-code: #c4c7c5;
    --orange-code: #fa903e;
    --purple-code: #c589f8;
    --green-code: #80c995;
    --red-code: #d84249;
    --yellow-code: #f7c95c;
}

* {
    font-family: 'Manrope', sans-serif;
}

body {
    background: var(--main-background-color);
    background-color: var(--main-background-color);
}

header {
    background-color: transparent;
    padding-top: 1.3rem;
    padding-left: 11rem;
    padding-right: 11rem;
    top: 0; /* Add this line to stick the header to the top */
    z-index: 100; /* Add this line to make sure the header is above all other elements */
}

header.scrolled {
    background-color: var(--white-color); /* Replace #yourColor with the color you want when scrolled */
    transition: background-color 1000ms ease-in-out;
    box-shadow: 0 1px 3px 0 var(--main-text-color); /* Add a box shadow */
    padding-top: 0.2rem; /* Reduce the padding */
    transition: padding-top 500ms linear; /* Add a transition to make it smooth */
    color: var(--main-text-color); /* Change the text color */
}

header .navbar {
    font-family: 'Manrope', sans-serif;
    background-color: transparent;
    font-weight: bold;
    color: var(--main-text-color);
}

header .navbar-brand {
    font-family: 'Manrope', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--main-text-color);
    background-color: transparent;
    margin-left: 0rem;
    margin-right: 1rem;
}

header .navbar-brand-2 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--main-text-color);
    background-color: transparent;
    margin-left: 2rem;
    margin-right: 0rem;
    text-decoration: none;
}

header .navbar-nav .nav-item.active .nav-link {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-text-color);
    background-color: transparent;
    margin-left: 2rem;
}

header .nav-login {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    color: #fbfbfb;
    background-color: #373838;
    padding: 0.7rem;
}

header .navbar-nav .nav-item .nav-link:hover {
    color: #2e2e2e;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

ul {
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--main-text-color-2);
    line-height: 1.6;
}

li {
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--main-text-color-2);
    line-height: 1.6;
}

.nav-item-1 {
    font-size: 1.6rem;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #696969 !important;
    border-color: #696969 !important;
    color: var(--white-color) !important;
    font-family: 'Manrope', sans-serif !important;
    font-size: 1rem !important;
    border-radius: 100px !important;
}

.popover {
    border-color: #fafafafa !important;
}
.popover .popover-arrow::before, .popover .popover-arrow::after {
    border-color: #fafafafa !important; 
}

main {
    margin-top: 6rem;
    margin-left: 11rem;
    margin-right: 11rem;
}

.about {
    margin-bottom: 3rem;
    animation: text-focus-in 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.welcome-tittle {
    font-family: 'Manrope', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-text-color);
    margin-bottom: 2rem;
    animation: text-shadow-drop-bl 0.6s both;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

.welcome {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--main-text-color);
    margin-bottom: .3rem;
}

.space-line {
    width: 100%;
    height: 5rem;
    background-color: var(--main-background-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    background-color: #fbfbfb;
    border: none;
    border-radius: 0rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);    
}

.card-text {
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--main-text-color);
    text-align: justify;
}

.language-symbol {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.symbol {
    margin-right: 1rem;
    width: 35px;
    height: 35px;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.blog-row {
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.blog-card-title {
    font-family: 'Manrope', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-text-color);
    margin-bottom: 1.5rem;
    text-decoration: none;
    line-height: 1.2;
}

.blog-card-text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--main-text-color);
    text-align: justify;
}

.blog-card-date {
    font-family: 'Manrope', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #696969;
    text-align: justify;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.post-title {
    font-family: 'Manrope', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: var(--main-text-color);
    margin-bottom: 2rem;
    text-decoration: none;
    line-height: 1.2;
}

.post-image {
    width: 100%; /* This will make the image take the full width of its container */
    height: auto; /* This will maintain the aspect ratio of the image */
    object-fit: cover; /* This will make sure the image covers the entire area of its container */
}

.post-content {
    margin-top: 8rem;
    margin-bottom: 5rem;
    text-align: justify;
    margin-left: 23rem;
    margin-right: 23rem;
}

.post-subtitle {
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    color: var(--main-text-color-2);
    text-decoration: none;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

.post-text {
    font-family: 'Manrope', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--main-text-color-2);
    text-decoration: none;
    line-height: 1.6;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.text-container {
    display: flex;
    flex-direction: column; /* This will arrange the items in a column */
    align-items: start; /* This will align the items to the start of the container */
}

.text-pair {
    display: flex;
    flex-direction: row; /* This will arrange the items in a row */
    align-items: start; /* This will align the items to the start of the container */
}

.post-text-2 {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
    color: var(--main-text-color-2);
    text-decoration: none;
    line-height: 1.5;
    background-color: #ededed;
    padding: .5rem;
    border-radius: 0.3rem;
    margin-right: 1rem;
    display: inline-block; /* This will make the element only as wide as the text it contains */
}

.link-courses {
    font-family: 'Manrope', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--blue-color);
    text-decoration: none;
    text-decoration: underline;
}

.img-source {
    font-family: 'Manrope', sans-serif;
    font-size: .8rem;
    font-weight: 200;
    color: var(--main-text-color-2);
    text-decoration: none;
    margin: 0rem;
    text-align: right;
}

kbd {
    line-height: 1.6;
    font-size: 1.1rem;
}

.code-container {
    background-color: #2d2d30;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

code {
    line-height: 1.5;
}

.code-back {
    background-color: var(--light-gray);
    color: var(--main-text-color-2);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0.3rem;
    margin: 0rem;
    border-radius: 5px;
}

.code-2 {
    color: var(--gray-code);
}

.code-3 {
    color: var(--orange-code);
}

.code-4 {
    color: var(--purple-code);
}

.code-5 {
    color: var(--green-code);
}

.code-6 {
    color: var(--red-code);
}

.code-7 {
    color: var(--yellow-code);
}

.footer-container div {
    box-sizing: border-box;
    position: relative;
    height: 20px;
    background-color: var(--main-background-color);
}

.footer-container div::before {
    content: "";
    position: absolute;
    top: -1px; 
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--main-text-color);
}
footer {
    background-color: var(--main-background-color);
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text-container {
    height: 10rem;
    justify-content: space-between;
    align-items: center;
    vertical-align: bottom;
    background-color: var(--main-text-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Manrope', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    color: var(--main-background-color);
    padding-top: 1rem;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }

/* CSS for screens smaller than 1440px */
@media only screen and (max-width: 1440px) {
    
    .welcome-tittle , .blog-card-title {
        font-size: 3rem;
    }

    .post-content {
        margin-top: 8rem;
        margin-bottom: 5rem;
        text-align: justify;
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .container {
        width: 100%;
    }
}

/* CSS for screens smaller than 1024px */
@media only screen and (max-width: 1024px) {

    header {
        background-color: transparent;
        padding-top: 1.3rem;
        padding-left: 5rem;
        padding-right: 5rem;
        top: 0; 
        z-index: 100; 
    }

    main {
        margin-top: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
    header .navbar-nav .nav-item.active .nav-link {
        margin-left: 1rem;
    }

    .welcome-tittle {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .welcome {
        font-size: 1.2rem;
    }

    .space-line {
        height: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .blog-card-title {
        font-size: 2rem;
    }

    .blog-card-text {
        font-size: 1.1rem;
    }

    .blog-card-date {
        font-size: 0.8rem;
    }

    .img-source {
        font-size: .7rem;
    }

    .card-text {
        font-size: .9rem;
    }

    .symbol {
        margin-right: 0.5rem;
        width: 25px;
        height: 25px;
    }

    .post-content {
        margin-top: 8rem;
        margin-bottom: 5rem;
        text-align: justify;
        margin-left: 9rem;
        margin-right: 9rem;
    }

    .container {
        width: 100%;
    }
}

/* CSS for screens smaller than 768px */
@media only screen and (max-width: 768px) {

    header {
        background-color: transparent;
        padding-top: 1.2rem;
        padding-left: 3rem;
        padding-right: 3rem;
        top: 0; 
        z-index: 100; 
    }

    header .navbar .navbar-expand-lg {
        font-family: 'Manrope', sans-serif;
        background-color: transparent;
        font-weight: bold;
        color: var(--main-text-color);
    }
    
    header .navbar-brand {
        font-family: 'Manrope', sans-serif;
        font-size: 1.7rem;
        font-weight: bold;
        color: var(--main-text-color);
        background-color: transparent;
        margin-left: 0rem;
        margin-right: 1rem;
    }

    main {
        margin-top: 2rem;
        margin-left: 3rem;
        margin-right: 3rem;
    }
    
    header .navbar-nav .nav-item.active .nav-link {
        margin-left: 1rem;
    }

    .welcome-tittle {
        font-size: 2.7rem;
        margin-bottom: 10px;
    }

    .welcome {
        font-size: 1.1rem;
    }

    .space-line {
        height: 0.5rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .blog-card-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .blog-card-text {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .blog-card-date {
        font-size: 0.5rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .img-source {
        font-size: .4rem;
    }

    .symbol {
        margin-right: 0.5rem;
        width: 25px;
        height: 25px;
    }

    .parent {
        display: flex;
        flex-wrap: wrap;
    }

    .post-content {
        margin-top: 5rem;
        margin-bottom: 5rem;
        text-align: justify;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    .container {
        width: 100%;
    }
}

/* CSS for screens smaller than 430px */
@media only screen and (max-width: 430px) {

    header {
        background-color: transparent;
        padding-top: 1.1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        top: 0; 
        z-index: 100; 
    }

    header .navbar .navbar-expand-lg {
        font-family: 'Manrope', sans-serif;
        background-color: transparent;
        font-weight: bold;
        color: var(--main-text-color);
    }
    
    header .navbar-brand {
        font-family: 'Manrope', sans-serif;
        font-size: 1.4rem;
        font-weight: bold;
        color: var(--main-text-color);
        background-color: transparent;
        margin-left: 0rem;
        margin-right: 1rem;
    }

    main {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    header .navbar-nav .nav-item.active .nav-link {
        margin-left: 1rem;
    }

    .welcome-tittle {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .welcome {
        font-size: 1rem;
    }

    .space-line {
        height: 0rem;
        margin-top: 0rem;
        margin-bottom: 0rem;
    }

    .blog-card-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .blog-card-text {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .blog-card-date {
        font-size: 0.5rem;
    }

    .card-text {
        font-size: 1rem;
    }

    .img-source {
        font-size: .4rem;
    }

    .parent {
        display: flex;
        flex-wrap: wrap;
    }

    .post-content {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: justify;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .post-title {
        font-family: 'Manrope', sans-serif;
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--main-text-color);
        margin-bottom: 1rem;
        text-decoration: none;
        line-height: 1.2;
    }

    .post-subtitle {
        font-family: 'Manrope', sans-serif;
        font-size:1.6rem;
        font-weight: 500;
        color: var(--main-text-color-2);
        text-decoration: none;
        margin-bottom: 0.5rem;
        margin-top: 3rem;
    }
    
    .post-text {
        font-family: 'Manrope', sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        color: var(--main-text-color-2);
        text-decoration: none;
        line-height: 1.6;
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    .container {
        width: 100%;
    }
}